            html, body{
                height:100%;
                padding:0;
                margin:0;
            }
            .nav_left{
                background-color:lightblue;
                height: 100%;
            }
            .container_main{
                background-color:red;                
                height:100%;
            }
            .infoboard{
                background-color:yellow;
                height:150px;
            }
            .databoard{
                background-color:purple;
                height:calc(100% - 150px);
                margin:0;
            }
            .container{
                background-color:green;
                height: 100%;
                width:100%;
                padding:15px;
                text-align:center;
            }